/* 
 * defaults.scss
 * Author: Kumar Harsh
 * Dated: 18/3/2012
 *
 * This file stores the default swatches and variables to be
 * used in the css files
 */

// Defining constants
// colours

$default-border-radius : 5px !default;
$text-highlight : #006cff;
$text-lowlight : #333333;
$input-forms : #666666;
$border-normal : #333333;
$border-highlight : #006cff;
$button-bg : #006cff;
$button-border : #004acc;


// typography
@font-face {
    font-family: 'Calluna';
    src: url('type/CallunaSansRegular-webfont.eot');
    src: url('type/CallunaSansRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/CallunaSansRegular-webfont.woff') format('woff'),
         url('type/CallunaSansRegular-webfont.ttf') format('truetype'),
         url('type/CallunaSansRegular-webfont.svg#PlanerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
$header-fonts : "Calluna", "Trebuchet MS", Verdana, sans-serif;
$body-fonts : "Trebuchet MS",Verdana,sans-serif;

@mixin link-style($color) {
    text-decoration: none;
    color: $color;
    &:visited { color:$color; }
    &:hover { color:darken($color,20%); }
}

@mixin normal-font-style {
    font: {
        family: $fonts;
        color:$text-normal;
        size: 12px;
        line-height:15px;
        weight:normal;
    }
}


@mixin border($color, $width, $side:all) {
    // if there is a side defined, just generate
    // border style for that side
    $border:border;
    @if $side!=all { $border:border-#{$side} };
    #{$border}: {
        width: $width;
        style: solid;
        color: $color;
    }
}
