@import "defaults";

html, body {
    font-size:13px; 
    line-height:18px;
    color:#333333;
    font-family: $body-fonts; 
    font-weight: normal;
    font-size: 12px;
}
a {
    color:#333333;
    text-decoration:underline;
    &:visited,&:active { color:#333333; }
    &:hover { color:#006cff; }
}
    
h1,h2,h3 {
    color:#008cdd;
    font-size:22px;
    line-height:28px;
    text-shadow:1px 1px 1.5px rgba(0,0,0,0.3);
    font-family: $header-fonts;
    font-style:normal;
    font-weight:normal;
    margin:5px 0;
}
h2 {
    font-size:18px;
    line-height:24px;
}
h3 {
    font-size:16px;
    line-height:18px;
    color:#006cff
}
header {
    position:relative;
    padding-top:5px;
    #logo img { height:40px; }
}

div#main {
    display:block;
    overflow:hidden;
    margin-top:10px;
    figure#presentationBox {
        position:relative;
        margin:20px 0;
        background:#000000;
        div#slider {
            z-index:500;
            height:290px;
            margin:0 auto;
        }
        span#slider-overlay-right, #slider-overlay-left {
            z-index:1000;
            display:block;
            position:absolute;
            width:100px;
            height:290px;
            top:0;
        }
        span#slider-overlay-left { left:56px; background:url("images/slider-overlay-left.png") top left repeat-y;
        }
        span#slider-overlay-right { right:56px; background:url("images/slider-overlay-right.png") top right repeat-y;
        }            
    }
    section#content {
        width:740px;
        p { 
            text-align:justify;
        }
    }
    aside#main-sidebar {
        float:right;
        width:200px;
        padding:0;
        span#todayDate { color:#559cff; }
        section#control-panel {
            margin-top:30px;
        }
    }
}

footer {
  clear:both;
  color:$text-lowlight;
  background:url('images/footer.jpg') top center no-repeat transparent;
  padding:15px 0 0 0;
  nav {
    text-align:center; 
    ul {
      padding:0;
      li{
        display:inline;
        padding-left:20px;
        a {
          color:#006cff;
          text-decoration:none;
          &:visited,&:active { color:#006cff; }
          &:hover { color:#0000ff; }
        }
        &:first-child {
            padding-left:0px;
        }
      }
    }
  }
}
